langchain==0.1.20
langchain-community==0.0.29
langchain-experimental==0.0.58
fastapi==0.110.0
python-dotenv==1.0.1
streamlit==1.40.0
uvicorn==0.27.1
pydantic==2.6.4
httpx==0.27.0
requests==2.31.0

# Google-related packages
langchain-google-community[places]==0.0.10

# Other langchain integrations
langchain-tavily==0.1.4
langchain-groq==0.1.2
langchain-openai==0.0.8

# Core langchain
git+https://github.com/langchain-ai/langchain.git

# Other dependencies
langgraph==0.0.26
